
<h1>Create a New Account</h1>


<form action="/signup" method="POST" enctype="multipart/form-data">

<label>Username</label>
<input type="text" name="username">

<label>Password</label>
<input type="text" name="password">

<label>Profile Picture</label>
<input type="file" name="the-profile-pic">


<button>Submit</button>
</form>