<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  </head>
  <body>
    <a href="/books">Browse Our Collection Of Books</a>
    <a href="/books/new">Donate A Book To The Library</a>
    <a href="/signup">Register</a>
    <a href="/login">login</a>
    <form action="/logout" method="POST">
    <button>Logout</button>
    </form>
    <a href="/profile">Dashboard</a>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
