<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/books">Browse Our Collection Of Books</a>
    <a href="/books/new">Donate A Book To The Library</a>
    <a href="/signup">Register</a>
    <a href="/login">login</a>
    <a href="/logout">logout</a>
    <a href="/profile">Dashboard</a>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
