 <h2>Login</h2>




<form action="/login" method="POST">

  <label>Email</label>
  <input type="text" name="username" placeholder="obiwan">

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="thatsnomoon">


  <button>Sign in</button>


</form>


  {{#if message }}
    <div>{{ message }}</div>
  {{/if}}