<!DOCTYPE html>
<html>


  <head>
    <title>The HTML5 Breakfast Site</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/actualcss/styles.css">
  </head>


  <body>

    
<!-- dont do inline styles, this is amateur hour -->
    <i style="background: red">this is italic</i>

    <br>

    <b> this is bold </b>

    <br>


    <!-- em tag and strong tag are just so google knows it's important -->

    <em> this is an em tag</em>

    <br>

    <strong> this is a strong tag</strong>

    <br>
    <br>
    <br>


    <form action="">

            <label for="blah">Username</label>
            <input id="blah" type="text">
        
        
            <label for="blah">Password</label>
            <input id="blah" type="text">
        
            <label for="">Choose a programming language</label>
            <select name="" id="">
        
                <option >javascript</option>
                <option >ruby</option>
                <option >lisp</option>
                
            </select>
        
        
        
            <button>Submit</button>
        
            <input type="submit" value="log in here">
        
           </form>






 

   <div> divs are the most common</div>

   
   <h2>this one is not so big</h2>
   
   <h3>heading 3</h3>
   
   <h4>fun fact, h4 is actually the same as regular text</h4>
   
   
   <h1 id="dog">This is how you make an unordered list in HTML</h1>


   <ul>
    <li>dog</li>
    <li class="cat-list-thing blah">cat</li>
    <li>elephant</li>
   </ul>


   <ol>
    <li>dog</li>
    <li id="wow"  class="cat-list-thing green">cat</li>
    <li>elephant</li>
   </ol>




   <h3>Login</h3>
   

   


 

   <script src="./js/myScript.js"></script>

   
   
   


  </body>



</html>