
h1{
    background: rgba(66, 134, 244, 0.1)
}

#wow{
   color: rgb(94, 158, 93);
}



.cat-list-thing{
    font-size: 28px;
    color: red;
}

.blah{
    font-style: italic;
}

#dog{
    text-decoration: underline;
}

