

<h1>Add a New Cat</h1>


    <form action="/cats/create" method="POST">


    <label>Name</label>
    <input type="text" name="theCatsName">

    <label>Color</label>
    <input type="text" name="theColorOfTheCat">


    <label>Age</label>
    <input type="text"  name="theAge">



    <button>Save</button>
        
    </form>